<article class="post" id="{{post.customid}}">
  <h1><a class="title" href="{{post.url}}">{{ post.title }}</a></h1>

  {% if content %}
    {{ content }}
  {% else %}
    {{ post.content }}
    <div class="button-container">
      <a class="read-more button" href="#">Continue reading</a>
    </div>
    <a class="read-more is-uppercase" href="#">Continue →</a>
  {% endif %}
  {% if site.data.svbtle.enable_kudos %}
    <script>
      $(function() {
        (new Kudos({name:"kudos_"+ Math.floor(new Date().getTime() * Math.random()), articleId:"{{post.customid}}", articleTitle: "{{post.title}}", articleUrl:"{{post.url}}"})).render($("article#{{post.customid}}"));
      });
    </script>
  {% endif %}
  <hr class="article-separator">
</article>
