figure.kudo {
  position: absolute;
  right: 15px;
  top: 65px;
  background-color: #000;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-shadow: 0 40px 20px #fff;
}

figure.kudo a {
  display: block;
  position: relative;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  top: 5px;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 1px solid #000;
  cursor: default;
}

figure.kudo{
  margin:0;
}
figure.kudo div.filling {
  position: absolute;
  background-color: #000;
  display: block;
  width: 40px;
  height: 40px;
  top: 3px;
  left: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  transform: scale(0.3);
  transition-property: opacity,background-color,transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transform: scale(0.3);
  -webkit-transition-property: opacity,background-color,-webkit-transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transform: scale(0.3);
  -moz-transition-property: opacity,background-color,-moz-transform;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: ease-out;
}

figure.kudo.activated div.filling{
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

figure.kudo div.num {
  position: absolute;
  width: 58px;
  left: -6px;
  top: 73px;
  top: 53px;
  font-family: "freight-sans-pro",sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

figure.kudo div.txt {
  position: absolute;
  width: 58px;
  left: -6px;
  top: 73px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "freight-sans-pro",sans-serif;
  font-size: 12px;
  font-weight: 700;
}

figure.kudo.activated div.txt {
  top: 53px;
  font-size: 16px;
}

figure.kudo.completed div.filling{
  background-image: url(/assets/images/me.png);
  transition-property: none;
  animation: bounce 1s;
  animation-iteration-count: 1;
  transform: scale(1);
  -webkit-transition-property: none;
  -webkit-animation: bounce 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: scale(1);
  -moz-transition-property: none;
  -moz-animation: bounce 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform: scale(1);
}

@media only screen and (max-width: 760px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
  figure.kudo {
    float: none;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  figure.kudo a {
    width: 68px;
    height: 68px;
    top: 5px;
  }

  figure.kudo div.filling {
    width: 60px;
    height: 60px;
    top: 4px;
    left: 4px;
  }

  figure.kudo div.num {
    top: 0;
    left: 85px;
    font-size: 30px;
    line-height: 50px;
    text-align: left;
  }

  figure.kudo div.txt {
    top: 44px;
    left: 85px;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
  }

  figure.kudo.activated div.txt {
    top: 16px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    font-weight: 700;
    min-width: 200px;
    text-transform: none;
  }
}
