@media only screen and (max-width: 760px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape) {
  
  /* LOGO */

  .main-view .avatar {
    float: none;
    position: relative;
    left: auto;
    right: auto;
    top: 10px;
    bottom: auto;
    margin: 0;
    margin-bottom: 70px;
    width: 50px;
    height: 50px;
  }

  .main-view .avatar a {
    width: 40px;
    height: 40px;
    top: 5px;
  }

  .home_logotype_link,
  .logotype {
    display: none !important;
  }

  /*HEADER*/

  .main-view .profile-name {
    height: 45px;
    margin-top: 85px;
  }

  .main-view .profile-name a {
    font-size: 28px;
    line-height: 28px;
  }

  .detail-view .profile-name {
    height: 28px;
  }

  .detail-view .profile-name a {
    font-size: 18px;
    line-height: normal;
  }  

  .subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .main-view .main-header {
    padding-top: 0;
  }

  .main-header .profile-links {
    margin-bottom: 62px;
  }

  .main-header .profile-links > li {
    display: block;
    margin-top: 2px;
  }
  
  .main-header .profile-links > li:first-child {
    margin-top: 15px;
  }

  /*POST*/
  
  .article-separator {
    width: 60vw;
  }

  .post.detail-view .anchor-icon {
    top: -67px;
    left: auto;
    right: 45px;
  }

  article:nth-child(2) .title {
    font-size: 34px;
    line-height: 36px;
  }

  article:nth-child(2) .post {
    font-size: 17px;
    line-height: 27px;
  }

  .detail-view .post p {
    font-size: 17px;
    line-height: 25px;
  }

  .post .title {
    font-size: 27px;
    line-height: 32px;
  }

  .detail-view .title {
    margin-top: 22px;
  }

  .read-more {
    font-size: 16px;
  }

  /* Kudo */
  .detail-view .kudo {
    display: none;
  }

  .foot_logo {
    display: none;
  }
}

@media only screen and (max-width: 665px) {
  
  /*HEADER*/
  .detail-view .main-header {
    padding-top: 1.6%; /*Trying to solve the margin that came on IPad*/
  }

  /* LOGO */
  .detail-view .avatar {
    float: none;
    position: relative;
    left: auto;
    right: auto;
    top: 0;
    bottom: auto;
    margin: 0;
    margin-bottom: 70px;
    width: 50px;
    height: 50px;
  }

  .detail-view .avatar a {
    width: 40px;
    height: 40px;
    top: 5px;
  }
}

@media only screen and (max-width: 500px) {
  
  h1.mlogotype {
    top: 20px
  }

  /*side-nav*/


  /*POST*/

  .post.detail-view {
    padding: 0 10px;
  }

  .post blockquote {
    margin-left: -10px;
  }

  /*FOOT */

  .foot_userbar,
  .next-article {
    padding-left: 10px;
  }
}