/* defaults */
a, a:visited {
  color: #333;
  text-decoration: none;
  outline: 0;
}

html,body,div.unit, div.columns{
  height:100%;
  width:100%;
}

html{
  font-size: 16px;
}

body{
  font-size: 62.5%;
}

div#header{
  height:auto;
  min-height: 100%;
  width:26%;
  float: left;
  padding-top:30px;
}

strong, b {
  font-weight: bold;
}

/* sidebar */

  div#header header#sidebar {
  }

  div#header header#sidebar figure.logo {
    position:relative;
    width: 200px;
    height: 200px;
    background-color: #F40000;
    margin:0;
    border-radius: 50%;
  }

  div#header header#sidebar figure.logo a{
    margin:0;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-indent: -9999px;
    border: 5px solid #fff;
    background-size: 100%;
    background-image: url(/assets/images/main.png);
  }

  div#header header#sidebar a{
  }

  div#header header#sidebar p {
    font-size: 1.5em;
    line-height: 2.3em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4d4d4d;
    font-family: 'proxima-nova',sans-serif;
    font-weight: 400;
  }

  div#header header#sidebar h1,h2{
    font-family: 'freight-sans-pro','helvetica',sans-serif;
    font-weight: 600;
  }

  div#header header#sidebar h1{
    margin:0;
    margin-top: 15px;
    color: #000000;
    font-size: 3em;
    line-height: 30px;
  }

  div#header header#sidebar ul#user_nav{
    font-family: 'proxima-nova',sans-serif;
    position: relative;
    margin-top: 25px;
  }

  div#header header#sidebar ul#user_nav li{
    list-style: none;
  }


  div#header header#sidebar ul#user_nav li a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    border: 4px solid #f8f8f8;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 5;
    padding: 0 10px;
    color: #999;
    font-weight: 600;
    background-color: #fff;
    margin-bottom: 12px;
  }

  div#header header#sidebar ul#user_nav li a:hover{
    background:red;
    color:white;
  }

  div#header header#sidebar h2{
    margin:0;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.6em;
    text-transform: uppercase;
    color: #585858;
  }

/* end sidebar */

/* main section */
  div#header div.container{
    height:100%;
    padding-left:10%;
  }

  div#content{
    border-left: 1px solid #e3e3e3;
    float:right;
    width:73%;
    height:auto;
    min-height: 100%;
  }

  div#content div.container{
    height:auto;
    min-height: 100%;
  }

  /* article */
  header.post-header{
    padding: 40px 0px 40px 40px;
  }

  header.post-header time{
    display: block;
    font-family: "freight-sans-pro",sans-serif;
    position: relative;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 2.3em;
  }

  div#content section.content article{
    position:relative;
    padding: 40px 0px 40px 50px;
    border-top: 1px solid #e3e3e3;
  }

  #content section.content article .speakerdeck {
    max-width:90%;
  }

  div#content section.content article a.title, a.title:visited {
    text-decoration: none;
  }
  div#content section.content article a, a:visited {
    text-decoration: underline;
  }
  

  div#content section.content article p > code{
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #d2d2d2;
    background-color: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    padding-right: 5px;
    font-size: 13px;
  }

  div#content section.content article h1,
  div#content section.content article h2,
  div#content section.content article h3,
  div#content section.content article h4,
  div#content section.content article h5{
    font-family: 'proxima-nova',sans-serif;
    max-width: 600px;
  }

  div#content section.content article h1{
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 20px;
  }

  div#content section.content article div.highlight{ 
    border: none;
    display: block;
    border: 1px solid #d2d2d2;
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3em;
    margin-left: -50px;
    margin-right: 0;
    width: auto;
    border-left: none;
    border-right: none;
    padding-left: 50px;
    word-wrap:break-word;
  }

  div#content section.content article h2{
    font-size: 2em;
    font-weight: 600;
    margin-top: 20px;
  }

  div#content section.content article h2 a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
    font-family: "freight-sans-pro",sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
  }

  div#content section.content article.post > p {
    max-width: 600px;
    font-size: 1.7em;
    line-height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4d4d4d;
    font-family: 'proxima-nova',sans-serif;
    font-weight: 400;
  }

  div#content section.content article.post > p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    color: #373737;
  }

  div#content section.content article.post a.instapaper {
    font-family: 'proxima-nova',sans-serif;
    font-size:1.5em;
    color:#000000;
  }

/* end main-section */

/* media-queries */
@media only screen and (max-width: 1150px){
  div#header{
    font-size: 13.5px;
  }

  div#header header#sidebar{
    font-size: 62.5%;
  }

  div#header header#sidebar figure.logo {
    position:relative;
    width: 150px;
    height: 150px;
    background-color: #F40000;
    margin:0;
    border-radius: 50%;
  }

  div#header header#sidebar figure.logo a{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-indent: -9999px;
    border: 5px solid #fff;
    background-size: 100%;
    background-image: url(/assets/images/main.png);
  }
}

@media only screen and (max-width: 960px){
  div#header div.container{
    height:100%;
    padding-left:5%;
  }
  div#content section.content article p{
    max-width:550px;
    padding-right:100px;
  }
}

@media only screen and (max-width: 760px){
  body{
    margin:0;
  }

  div#content section.content article p{
    max-width:100%;
    padding-right:0px;
  }

  header.post-header{
    display:none;
  }

  div#header{
    width:100%;
    padding:0;
    text-align:center;
    font-size: 13.5px;
  }

  div#header, div#header div.container{
    height:auto;
    min-height: auto;
    padding:0;
  }

  div#header header#sidebar figure.logo {
    margin: 0 auto;
  }

  div#header header#sidebar ul#user_nav{
    margin-top:0;
    padding:0;
  }

  div#header header#sidebar ul#user_nav li{
    display:inline-block;
  }
  div#header header#sidebar ul#user_nav li a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    border: 4px solid #f8f8f8;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 5;
    padding: 0 10px;
    color: #999;
    margin-left: 0px;
    font-weight: 600;
    background-color: #fff;
    margin-bottom: 12px;
  }

  div#header header#sidebar ul#user_nav li.link.feed{
    display:none;
  }

  div#content{
    width:100%;
  }

  div#content section.content article{
    padding: 60px;
    border-left:0;
  }

  div#content section.content article .speakerdeck {
    margin: 0 auto;
  }

  div#content section.content article div.highlight{
    padding-left: 60px;
    margin-left: -60px;
    padding-right: 60px;
    margin-right: -60px;
  }

}

@media only screen and (max-width: 600px){
  div#content section.content article.post{
    padding: 20px;
    border-left:0;
  }

  div#content section.content article div.highlight{
    padding-left: 20px;
    margin-left: -20px;
    padding-right: 20px;
    margin-right: -20px;
  }
}
