html, 
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: proxima-nova, Helvetica, Avenir, Arial, sans-serif;
  color: #909090;
}

* {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {  
  color: white;
}

/* Fonts */
.next-article__title,
.logotype,
.profile-name {
  font-family: freight-sans-pro, proxima-nova, Helvetica;
}

.title {
  font-family: freight-sans-pro, Helvetica, Avenir, Arial, sans-serif;
}

.tag {
  font-family: freight-sans-pro, Helvetica;
}

.side-nav-container {
  font-family: proxima-nova, Helvetica;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

/* Colors Guide 
    red:    #F40000
    gray:   #909090
*/

.avatar {
  background-color: red;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  float: left;
  left: -140px;
  bottom: 70px;
  position: absolute;
}

.avatar a {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  text-indent: -9999px;
  border-radius: 100%;
  background: transparent url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/images/default.png) center center no-repeat;
  background-size: 100%;
  top: 5px;
  margin: 0 auto;
}

.home_logotype_link {
  padding-top: 23px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 23px;
  display: inline-block;
  transition-property: all;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.home_logotype_link:hover h1{
  color: #000;
  border-left: 6px solid #000;
  opacity: 1;
}

.home_logotype_link h1 {
  position: relative;
  font-size: 17px;
  line-height: 26px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  opacity: .4;
  z-index: 0;
  color: #e3e3e3;
}

/* Main Header */

.main-header {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 10px;
  position: relative;
  width: 570px;
  max-width: 100%;
}

.main-header .profile-links {
  margin-bottom: 137px;
}

.profile-name {
  line-height: 28px;
  font-size: 28px;
  font-weight: bold;
  color: #F40000;
  height: 45px;
}

.profile-name:hover {
  text-decoration: underline;
}

.profile-name:visited {
  color: #F40000;
}

.subtitle {
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.profile-links {
  line-height: 1.125rem;
}

.profile-links > li {
  display: inline-block;
  height: 33px;
  line-height: 18px; 
  color: rgba(144,144,144, .4);
  margin-top: 15px;
  font-size: 14px;
}

.profile-links span {
  transition: background-color 0.3s ease;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 3px solid rgba(144,144,144, .4);
  padding: 5px 14px;
}

.profile-links > li:hover span {
  background-color: #F40000;
  color: white;
}

.profile-links > li .a {
  line-height: 2.8125rem;
}

/* Posts  */

.posts-container {
  display: block;
  width: 100%;
  padding: 0 10px;
}

.posts-container * {
  margin: 0 auto;
  max-width: 550px;
}

.read-more,
.posts-container .tag {
  margin: 25px auto;
}

.read-more {
  margin-left: 0;
}

.posts-container hr {
  box-sizing: content-box;
  margin: 50px auto;
}

hr {
  border: solid #f4f3f3;
  border-width: 5px 0 0;
  clear: both;
  margin: 0 auto;
  width: 80%;
  height: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  max-width: 430px;
  color: #f4f3f3;
}

.article-separator {
  max-width: none;
  width: 35vw;
}

article:nth-child(3)::before {
  content: "MORE BY ***";
  margin: 25px auto;
}

article:nth-child(3)::before,
.posts-container span {
  color:#F40000;
  display: block;
  font-weight: bold;
}

#posts article {
  margin-bottom: 100px;
}

.post .title {
  line-height: 32px;
  font-size: 27px;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.post .title:hover {
  color: #F40000;
}

.post p {
  line-height: 27px;
  font-size: 17px;
}

.next-article,
.post {
  color: #797979;
}

.title {
  color: #333;
}

.post blockquote {
  border-left: 8px solid red;
  padding-left: 10px;
}

.post blockquote p {
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
}

.post code {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(144, 144, 144, .3);
  display: block;
  font-size: 13px;
  margin-right: 0;
  padding: 10px 0;
  width: auto;
  border-left: 0;
  border-right: 0;
  margin: 16px auto;
  max-width: 550px;
  overflow: auto;
}

article:nth-child(2) .title {
  line-height: 43px;
  font-size: 38px;
  transition: all 0.3s ease;
  font-weight: bold;
  display: block;
}

article:nth-child(2) p {
  line-height: 28.5px;
  font-size: 19px;
  color: #4d4d4d;
}

article:nth-child(2) .article-separator{
  display: none;
  visibility: hidden;
}

article:nth-child(2) a.read-more{
  display: none;
}

article:nth-child(2) a.read-more.button{
  display: block;
}

article a.read-more.button{
  display: none;
}

#posts .post:last-child{
  margin-bottom: 0px;
}

#posts .post:last-child .article-separator{
  margin-bottom: 15px;
}

a.read-more {
  line-height: 27px;
  font-size: 17px;
  color: red;
  font-weight: bold;
  margin-top: 50px;
  display: block;
  max-width: 182px;
}

a.read-more.button{
  line-height: 30px;
  color: white;
  font-size: 15px;
  padding: 0px 40px 0px 20px;
  background-color: red;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background-image: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/arrow_right_padded-8dc031e52ae66d541aca2f2d44c6863c.png);
  background-origin: padding-box;
  background-position: 100% 10px;
  background-repeat: no-repeat;
  background-size: 25px 10px;
  font-weight: bold;
  margin: 25px 0;
}

/*side nav*/

.logotype {
  position: fixed;
  top: 75px;
  right: -3px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  color: #363636;
  font-weight: bold;
  transition-property: all;
  transition-duration: .3s;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  z-index: 2;
  display: none;
}

.side-nav {
  position: relative;
  right: -200px;
  top: 0;
  bottom: 0;
  text-align: right;
  float: right;
  width: 200px;
  border-left: solid 1px rgba(144,144,144,.3);
  height: 100%;
  background-color: #fff;
}

.side-nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5%;
  transition-property: all;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  z-index: 1;
}

.side-nav-container:hover {
  right: 200px;
}

.side-nav-container:hover .logotype {
  top: 90%;
}

.side-nav-container:hover .side-nav__button {
  opacity: 1;
  background-image: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/x_black_2x-6906acfa952d431ed14dbc82c656f72c.png);
  background-position: 5px 5px;
  background-size: 10px 10px;
}

.side-nav .top {
  margin-top: 55px;
}

.side-nav span {
  font-weight: bold;
  color: #363636;
}

.side-nav p {
  line-height: 22px;
  font-size: 18px;
  width: 83%;
  margin-left: auto;
  color: #363636;
}

.side-nav a {
  font-size: 15px;
  line-height: 30px;
  transition: all 0.3s ease;
}

.linkout:hover,
.side-nav a:hover {
  color: #363636;
  font-weight: bold;
}

.side-nav__button {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #000;
  margin: 1rem 0 1rem 70%;
  transition: all 0.3s ease;
  background-image: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/arrow_down_black-4309ed2aa9ced3b702d2eda70ce014f5.png);
  background-origin: padding-box;
  background-position: 5px 8px;
  background-repeat: no-repeat;
  background-size: 10px 7px;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 15px;
  z-index: 1;
  opacity: .2;
}

.side-nav__button:hover {
  opacity: 1;
  background-image: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/x_black_2x-6906acfa952d431ed14dbc82c656f72c.png);
  background-position: 5px 8px;
}

.nav-profile-links {
  border-bottom: 1px solid rgba(144,144,144,.3);
  margin-bottom: 25px;
}

.nav-profile-links:nth-child(2) {
  padding-top: 25px;
}

.nav-profile-links:last-child {
  padding-bottom: 25px;
}

.nav-profile-links,
.side-nav p,
.about-links {
  padding-right: 8%;
}

/* Pagination */

nav.pagination {
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 100px;
  max-width: 650px;
  margin: 0 auto;
  color: #363636;
}

nav.pagination span.next a, 
nav.pagination span.prev a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid;
}

nav.pagination span.next {
  display: block;
  float: right;
}

/*subscribe*/

.subscribe-container {
  display: block;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  min-width: 0;
  max-width: 550px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.subscribe-container p.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  letter-spacing: 0;
  padding-right: 15px;
  line-height: 19px;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 16px;
}

form {
  display: block;
}

.subscribe-label {
  width: 250px;
  float: left;
  margin-right: 15px;
  padding: 10px;
  background-color: black;
  height: 45px;
  color: white;
}

.subscribe-label input {
  border: none;
  background-color: transparent;
  height: 25px;
  color: white;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 4px solid #F40000;

  /*animation*/
  -webkit-animation-name: fPulse;
  -moz-animation-name: fPulse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
}

p.notify {
  padding-top: 3px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
  color: #989898;
  margin-top: 20px;
}

/*footer*/

.foot_logo {
  display: block;
  float: left;
  width: 150px;
}

.foot_logo span {
  text-transform: uppercase;
  font-weight: 900;
  color: #ddd;
  letter-spacing: 0;
  border-left: 4px solid #ddd;
  display: block;
  font-size: 18px;
  line-height: 20px;
  padding-left: 10px;
  margin: 30px;
  margin-top: 40px;
}

.foot_userbar {
  display: block;
  padding-top: 30px;
  padding-bottom: 0;
  margin: 0 auto;
  min-width: 0;
  max-width: 550px;
  padding-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
  min-height: 70px;
}

.bottom_tagline {
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.next-article span,
.bottom_tagline span {
  font-size: 17px;
  border-bottom: 3px solid #e5e5e5;
  font-weight: 600;
  color: #000;
}

.bottom_tagline span:hover {
  color: #F40000;
  border-color: #F40000;
}

.linkout {
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #dddddd;
}

.linkout.twitter {
  display: inline-block;
  font-size: 14px;
  margin-left: 0;
  border: 0;
}

.fa-twitter {
  font-size: 18px;
}

.linkout.contact {
  float: right;
  padding-right: 40px;
  margin-left: 0;
  padding-left: 0;
}

.copyright {
  display: block;
  padding: 10px;
  padding-left: 30px;
  font-size: 10px;
  color: #e5e5e5;
  border-top: 1px solid #f8f8f8;
  border-bottom: 24px solid #F40000;
  z-index: 2;
}

/* Modifiers */

.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.is-hidden {
  display: none;
}

.is-uppercase {
  text-transform: uppercase;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(144, 144, 144, .3);
}

/*detail view*/

.detail-view .main-header {
  padding-top: 50px;
}

.detail-view .profile-name {
  font-size: 18px;
  line-height: normal;
  color: #000;
  text-decoration: none;
}

.detail-view .profile-name a {
  border-bottom: 3px solid transparent;
}

.detail-view .profile-name:hover  a {
  border-bottom: 3px solid #F40000;
  color: #F40000;
}

.detail-view .avatar {
  height: 55px;
  width: 55px;
  left: -100px;
  top: 16px;
  bottom: -20px;
}

.detail-view .avatar a {
  height: 45px;
  width: 45px;
  top: 5px;
}

.post.detail-view {
  margin-top: 8px;
}

.post.detail-view h1.title {
  font-size: 30px;
  line-height: 36px;
}

.post.detail-view .anchor-icon {
  position: absolute;
  top: 170px;
  left: .6%;
  padding-top: 8px;
  padding-left: 0;
  border: none;
}

.post.detail-view a:hover {
  color: #F40000;
}


.post.detail-view h2 {
  font-weight: bold;
}

.anchor-icon .fa, 
.anchor-icon time {
  transition-property: all;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.anchor-icon .fa {
  opacity: .15;
}

.anchor-icon time {
  opacity: 0;
  font-size: 14px;
  line-height: 45px;
  font-weight: bold;
}

.anchor-icon:hover .fa.fa-anchor, 
.anchor-icon:hover time {
  color: #000;
  opacity: 1 !important;
}


.detail-view .tag-read-first {
  display: none;
  visibility: hidden;
}

.detail-view .post:before {
  content: none;
}

.detail-view .post p:last-child {
  margin-bottom: 25px;
}

.detail-view .title {
  font-size: 30px;
  line-height: 36px;
}

.detail-view .title{
  color: #393939;
}

.post.detail-view a {
  border-bottom: 3px solid #eee;
}

.detail-view .title:hover a{
  color: #000;
  border-bottom: 3px solid #F40000;
}

.detail-view .title:hover + .anchor-icon .fa-anchor, 
.detail-view .title:hover + .anchor-icon time {
  color: #000;
  opacity: 1 !important;
}

.next-article {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  min-width: 0;
  max-width: 550px;
  padding-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.next-article__title {
  display: inline;
  font-weight: 700;
  font-size: 38px;
  line-height: 43px;
  margin-top: 30px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  /* Animation infinite */
  -webkit-animation-name: titlePulse;
  -moz-animation-name: titlePulse;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
}

/* Inifinite animation for article title */

@-webkit-keyframes titlePulse {
  0% {color: #000;}
  100% {color: red;}
}

@-moz-keyframes titlePulse {
  0% {color: #000;}
  100% {color: red;}
}

@keyframes pulsate {
  0% {color: #000;}
  100% {color: red;}
}

.next-article__content {
  display: block;
  font-size: 18px;
  line-height: 27px;
  margin-top: 10px;
}

.read-next {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  letter-spacing: 0;
  padding-right: 15px;
  line-height: 30px;
  margin-top: 15px;
}