html, 
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Raleway, Helvetica, Avenir, Arial, sans-serif;
  color: #909090;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {  
  color: #fff;
}

/* Fonts */
.next-article__title,
.logotype,
.profile-name,
.tag,
.title {
  font-family: freight-sans-pro, Raleway, Helvetica;
}

.side-nav-container {
  font-family: Raleway, Helvetica;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

/* Colors Guide 
    red:    #F40000
    gray:   #909090
*/

.avatar {
  background-color: #F40000;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  float: left;
  left: -100px;
  bottom: 87px;
  position: absolute;
  margin: 0; /*Remove browser margin*/
}

.avatar a {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  text-indent: -9999px;
  border-radius: 100%;
  background: transparent url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/images/default.png) center center no-repeat;
  background-size: 100%;
  top: 5px;
  margin: 0 auto;
}

.home_logotype_link {
  padding-top: 23px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 23px;
  display: inline-block;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.home_logotype_link:hover h1{
  color: #000;
  border-left: 6px solid #000;
  opacity: 1;
}

.home_logotype_link h1 {
  position: relative;
  font-size: 17px;
  line-height: 26px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  opacity: .4;
  z-index: 0;
  color: #e3e3e3;
}

/* Main Header */

.main-header {
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 10px;
  position: relative;
  width: 570px;
  max-width: 100%;
}

.main-header .profile-links {
  margin-bottom: 137px;
}

.profile-name {
  line-height: 28px;
  font-size: 28px;
  font-weight: bold;
  color: #F40000;
  height: 45px;
}

.profile-name:hover {
  text-decoration: underline;
}

.profile-name:visited {
  color: #F40000;
}

.subtitle {
  font-size: 22px;
  line-height: 30px;
}

.profile-links {
  line-height: 18px;
}

.profile-links > li {
  display: inline-block;
  height: 33px;
  line-height: 18px; 
  color: rgba(144,144,144, .4);
  margin-top: 15px;
  font-size: 14px;
}

.profile-links span {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 3px solid rgba(144,144,144, .4);
  padding: 5px 14px;
}

.profile-links > li:hover span {
  background-color: #F40000;
  color: #fff;
}

.profile-links > li .a {
  line-height: 45px;
}

/* Posts  */

.posts-container {
  width: 100%;
}

.posts-container * {
  margin: 0 auto;
}

.posts-container pre,
.read-more,
.posts-container .tag {
  margin: 25px auto;
}

.read-more {
  display: block;
  margin-left: 0;
}

.posts-container hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 50px auto;
}

hr {
  border: solid #f4f3f3;
  border-width: 5px 0 0;
  clear: both;
  margin: 0 auto;
  width: 50%;
  height: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;  
  color: #f4f3f3;
}

.post hr {
  max-width: 430px;
}

.post .article-separator {
  max-width: none;
  width: 60%;
}

article:nth-child(3)::before {
  content: "MORE BY [USER_NAME]";
  margin: 25px auto;
  text-transform: uppercase;
}

article:nth-child(3)::before,
.posts-container span {
  display: block;
}

#posts article {
  margin-bottom: 100px;
}

.post {
  position: relative;
}

.post *,
.read-first,
*::before {
  max-width: 550px;
}

.tag,
article::before {
  color:#F40000;
  font-weight: bold;
}

.button,
.read-more {
  margin: 0 auto
}

.post .title {
  line-height: 32px;
  font-size: 27px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-bottom: 20px;
}

.post .title:hover {
  color: #F40000;
}

.post p {
  line-height: 27px;
  font-size: 17px;
  margin: 25px auto;
}

.next-article,
.post {
  color: #797979;
}

.title {
  color: #333;
}

.post blockquote {
  border-left: 8px solid red;
  padding-left: 10px;
}

.post blockquote pre,
.post blockquote p {
  font-size: 16px;
  line-height: 26px;
}

.post blockquote p {
  padding: 10px;
}

.post code {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(144, 144, 144, .3);
  display: block;
  font-size: 13px;
  line-height: 25px;
  font-family: monospace;
  margin-right: 0;
  padding: 10px 0;
  width: auto;
  border-left: 0;
  border-right: 0;
  margin: 16px auto;
  overflow: auto;
}

.instapaper {
  font-weight: bold;
  color: #000;
} 

article:nth-child(2) .title {
  line-height: 43px;
  font-size: 38px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bold;
}

article:nth-child(2) p {
  line-height: 28.5px;
  font-size: 19px;
  color: #4d4d4d;
}

article:nth-child(2) .article-separator{
  display: none;
  visibility: hidden;
}

article:nth-child(2) .read-more{
  display: none;
}

article:nth-child(2) .read-more.button{
  display: block;
}

article .read-more.button{
  display: none;
}

#posts .post:last-child{ /*That specifycity allows to place the margin*/
  margin-bottom: 0;
}

.post:last-child .article-separator{
  margin-bottom: 15px;
}

.read-more {
  line-height: 27px;
  font-size: 17px;
  color: #F40000;
  font-weight: bold;
}

.read-more.button{
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  padding: 0 40px 0 20px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: #F40000 url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/arrow_right_padded-8dc031e52ae66d541aca2f2d44c6863c.png) no-repeat 100% 10;
  background-origin: padding-box;
  background-size: 25px 10px;
  font-weight: bold;
  margin: 25px 0;
  max-width: 185px;
}

/*side nav*/

.logotype {
  margin-right: -100px;
  position: fixed;
  top: 75px;
  right: -3px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  font-weight: bold;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  z-index: 20;
}

.logotype .tag {
  color: #363636;
}

.side-nav {
  position: relative;
  right: -200px;
  top: 0;
  bottom: 0;
  text-align: right;
  float: right;
  width: 200px;
  border-left: solid 1px rgba(144,144,144,.3);
  height: 100%;
  background-color: #fff;
}

.side-nav-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0.5%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  z-index: 10;
}

.side-nav-container:hover {
  right: 200px;
}

.side-nav-container:hover .logotype {
  top: 90%;
}

.side-nav-container:hover .side-nav__button {
  opacity: 1;
  background: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/x_black_2x-6906acfa952d431ed14dbc82c656f72c.png) no-repeat 5px 5px;
  background-size: 10px 10px;
}

.side-nav .top {
  margin-top: 55px;
}

.side-nav .tag {
  color: #363636;
}

.side-nav p {
  line-height: 22px;
  font-size: 18px;
  width: 83%;
  margin-left: auto;
  color: #363636;
}

.side-nav a {
  font-size: 15px;
  line-height: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.linkout:hover,
.side-nav a:hover {
  color: #363636;
  font-weight: bold;
}

.side-nav__button {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  border: 3px solid #000;
  margin: 1rem 0 1rem 70%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/arrow_down_black-4309ed2aa9ced3b702d2eda70ce014f5.png) no-repeat 5px 8px;
  background-origin: padding-box;
  background-size: 10px 7px;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 15px;
  z-index: 10;
  opacity: .2;
}

.side-nav__button:hover {
  opacity: 1;
  background: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/x_black_2x-6906acfa952d431ed14dbc82c656f72c.png) 5px 8px;
}

.nav-profile-links {
  border-bottom: 1px solid rgba(144,144,144,.3);
  margin-bottom: 25px;
}

.nav-profile-links:nth-child(2) {
  padding-top: 25px;
}

.nav-profile-links:last-child {
  padding-bottom: 25px;
}

.nav-profile-links,
.side-nav p,
.about-links {
  padding-right: 8%;
}

/* Pagination */

nav.pagination {
  padding: 20px 40px 100px;
  max-width: 650px;
  margin: 0 auto;
  color: #363636;
}

nav.pagination span.next a, 
nav.pagination span.prev a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid rgb(54, 54, 54);
}

nav.pagination span.next {
  display: block;
  float: right;
}

/*footer*/

.foot_logo {
  float: left;
  width: 150px;
}

.foot_logo span {
  text-transform: uppercase;
  font-weight: 900;
  color: #ddd;
  letter-spacing: 0;
  border-left: 4px solid #ddd;
  display: block;
  font-size: 18px;
  line-height: 20px;
  padding-left: 10px;
  margin: 40px 30px 30px;
}

.foot_userbar {
  padding-top: 30px;
  padding-bottom: 0;
  margin: 0 auto;
  min-width: 0;
  max-width: 550px;
  padding-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
  min-height: 70px;
}

.bottom_tagline {
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.next-article span,
.bottom_tagline span {
  font-size: 17px;
  border-bottom: 3px solid #e5e5e5;
  font-weight: 600;
  color: #000;
}

.bottom_tagline span:hover {
  color: #F40000;
  border-color: #F40000;
}

.linkout {
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #dddddd;
}

.linkout.twitter {
  display: inline-block;
  font-size: 14px;
  margin-left: 0;
  border: 0;
}

.fa-twitter {
  font-size: 18px;
}

.foot_userbar .linkout:last-child {
  float: right;
  padding-right: 40px;
  margin-left: 0;
  padding-left: 0;
}

.copyright {
  padding: 10px;
  padding-left: 30px;
  font-size: 10px;
  color: #e5e5e5;
  border-top: 1px solid #f8f8f8;
  border-bottom: 24px solid #F40000;
  z-index: 20;
}

/* Modifiers */

.hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.is-hidden {
  display: none;
}

.is-uppercase {
  text-transform: uppercase;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(144, 144, 144, .3);
}

/*detail view*/

.detail-view .main-header {
  padding-top: 50px;
}

.detail-view .profile-name {
  font-size: 18px;
  line-height: normal;
  color: #000;
  text-decoration: none;
}

.post.detail-view pre {
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgba(144, 144, 144, .3);
  border-bottom: 1px solid rgba(144, 144, 144, .3);
  margin: 0;
  max-width: none;
  width: 100%;
  white-space: pre-line;
}

.post.detail-view code {
  padding: 0;
  border: none;
  background-color: transparent;
}

.detail-view .profile-name a {
  border-bottom: 3px solid transparent;
}

.detail-view .profile-name:hover  a {
  border-bottom: 3px solid #F40000;
  color: #F40000;
}

.detail-view .avatar {
  height: 55px;
  width: 55px;
  left: -62px;
  top: 33px;
  bottom: -20px;
}

.detail-view .avatar a {
  height: 45px;
  width: 45px;
  top: 5px;
}

.post.detail-view {
  margin-top: 8px;
}

.detail-view code {
  line-height: normal;
}

.first-post .detail-view .title {
  font: 30px/36px;
}

.detail-view .title {
  font: 38px/43px;
}

.detail-view .title a:hover {
  color: inherit;
  border: none;
}

.post.detail-view .title a {
  border: none;
}

.post.detail-view .anchor-icon {
  position: absolute;
  top: -5px;
  left: 15px;
  padding-top: 8px;
  padding-left: 0;
  border: none;
}

.post.detail-view a:hover {
  color: #F40000;
  border-color: #F40000;
}


.post.detail-view h2 {
  font-weight: bold;
}

.anchor-icon .fa, 
.anchor-icon time {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

.anchor-icon .fa {
  opacity: .15;
  visibility: hidden; /*It will be showed just for first article on the blog*/
}

.anchor-icon time {
  opacity: 0;
  font-size: 14px;
  line-height: 45px;
  font-weight: bold;
}

.anchor-icon:hover .fa.fa-anchor, 
.anchor-icon:hover time {
  color: #000;
  opacity: 1;
}


.detail-view .tag-read-first {
  display: none;
  visibility: hidden;
}

.detail-view .post::before {
  content: none;
}

.detail-view .post p:last-child {
  margin-bottom: 25px;
}

.detail-view .title {
  font-size: 30px;
  line-height: 36px;
}

.detail-view .title{
  color: #393939;
}

.post.detail-view a {
  border-bottom: 3px solid #eee;
}

.detail-view .title:hover a{
  color: #000;
}

.detail-view .title:hover + .anchor-icon .fa-anchor, 
.detail-view .title:hover + .anchor-icon time {
  color: #000;
  opacity: 1;
}

.next-article {
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
  min-width: 0;
  max-width: 550px;
  padding-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.next-article__title {
  display: inline;
  font-weight: 700;
  font-size: 38px;
  line-height: 43px;
  margin-top: 30px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  /* Animation infinite */
  -webkit-animation-name: titlePulse;
  -moz-animation-name: titlePulse;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
}

/* Inifinite animation for article title */

@-webkit-keyframes titlePulse {
  0% {color: #000;}
  100% {color: #F40000;}
}

@-webkit-keyframes pulsate {
  0% {color: #000;}
  100% {color: #F40000;}
}

@keyframes pulsate {
  0% {color: #000;}
  100% {color: #F40000;}
}

.instapaper,
.next-article__content {
  font-size: 18px;
  line-height: 27px;
}

.next-article__content {
  margin-top: 10px;
}

.next-article__content span {
  font-size: 16px;
  line-height: 24px;
}

.read-next {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  letter-spacing: 0;
  padding-right: 15px;
  line-height: 30px;
  margin-top: 15px;
}